@media (max-width:1280px){
    input[type="submit"]{
        font-size: 10pt;
    }
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    background-color: #5A2B74;
    user-select: none;
    flex-wrap:wrap;
}
a{
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #8A4F92;
    background-color: #29043E;
    padding: 15px 50px 15px 50px;
    border-radius: 12.5px;
    transition: all 0.25s ease-in;
    font-weight: bold;
    font-size: 40pt;
}
a:hover{
    background-color: #5A2B74;
    color: #29043E;
}
label{
    color: #29043E;
    font-family: Arial, sans-serif;
    font-size: 20pt;
}
input[type="password"]{
    height: 20pt;
    width: 250pt;
    border-radius: calc(25px/4);
    margin-right: 20px;
    border: none;
    font-size: 16pt;
    color: #29043E;
}
input[type="submit"]{
    border: none;
    height: 25pt;
    width: 150pt;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15pt;
    background-color: #29043E;
    color: #7A4F92;
    transition: all 0.25s ease-in;
    text-align: center;
}
input[type="submit"]:hover{
    background-color: #5A2B74;
    color: #29043E;
}